
.container {
  color: $text-color;
  font-family: $font-stack;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 400;
  font-style: normal;
}


.card p {
  margin-top: 50px;
  margin-bottom: 50px;
}


.headline--primary {
  font-size: 1.8em;
font-weight: 900;
color: $primary-color;
line-height: 1;
max-width: 75%;
margin-bottom: 30px;
padding-left: 15px;
}


.headline--secondary {
font-weight: 200;
color: $text-color;
margin-top: 10px;
}


.link {
  color: $Deepskyblue;
  font-weight: 700;
  text-decoration: none;
}


.blockquote {
  font-style: italic;
  color: $text-color;
  border-left: 8px solid $primary-color;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 15px;
  margin-top: 20px;
  font-size: 26px;
  line-height: 1.2;
}
